################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AMSS/obj/Debug/net8.0/AMSS.MvcApplicationPartsAssemblyInfo.cs
/AMSS/bin/Debug/net8.0/appsettings.json
/.vs/AMSS/v17/.suo
